%layout_three-column {
    align-items: stretch;
    display: flex;
    justify-content: center;
    min-height: 100%;
    margin: $spacing-xl $spacing-l;

    .col-left {
        flex: 0 0 256px;
        padding: 0 $spacing-l 0 0;
    }

    .col-center {
        flex: 1 1 0px;
        max-width: 768px;
    }

    .col-right {
        flex: 0 0 256px;
        padding: 0 0 0 $spacing-l;
    }
}