.input-select.Select {
    .Select-control {
        background: transparent;
        border: 2px solid $c-dark-grey;
        border-radius: 2px;
    }

    &.is-focused {
        border-color: $c-primary;
    }
}

.input-button {
    background: transparent;
    border: 2px solid $c-dark-grey;
    border-radius: 2px;
    padding: $spacing-s;

    &:hover {
        border-color: $c-primary;
    }
}