.settings-view {
    align-items: flex-start;
    display: flex;
    height: 100%;
    margin: 0 auto;
    width: 100%;

    .settings-nav {
        flex: 0 0 256px;
        margin: $spacing-m;

        ul {
            list-style-type: none;

            li {
                margin: $spacing-s 0;

                color: $c-dark-grey;
                cursor: pointer;

                &.ux-active,
                &:hover {
                    color: $c-actionable;
                }
            }
        }
    }

    .settings-content {
    }

    .info-panel {
        flex: 0 0 256px;
        margin: $spacing-m;
    }
}