@import "./components/LoadPrompt.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, 
body,
#app {
    height: 100%;
    width: 100%;

    font-family: Arial, Helvetica, sans-serif;
    font-size: $f-size-root;
}

#app {
    background: $c-app-background;
    color: $c-app-text;
    overflow: auto;
}

input,
textarea {
    padding: $spacing-xs;

    border: 2px solid $c-dark-grey;
    border-radius: 2px;
    outline: none;

    &:focus {
        border-color: $c-actionable;
        outline: none;
    }
}