$c-primary: hsl(21.4, 90.4%, 55.1%);

@function c-grey($c-lightness, $c-saturation: -1, $c-base: $c-primary) {
    $c-base-hue: hue($c-base);
    $c-base-saturation: saturation($c-base);

    @return hsl($c-base-hue, $c-base-saturation * 0.05, $c-lightness);
}

$c-white: c-grey(100%);
$c-lightest-grey: c-grey(97%);
$c-light-grey: c-grey(85%);
$c-grey: c-grey(50%);
$c-dark-grey: c-grey(30%);
$c-darkest-grey: c-grey(10%);
$c-black: c-grey(0%);

$c-shadow: hsla(0, 0%, 0%, 0.1);

$c-app-background: $c-lightest-grey;
$c-app-text: $c-dark-grey;

$c-text: $c-darkest-grey;
$c-text-muted: $c-grey;

$c-actionable: $c-primary;


$spacing-xxs: 2px;
$spacing-xs: 4px;
$spacing-s: 8px;
$spacing-m: 16px;
$spacing-l: 32px;
$spacing-xl: 64px;


$f-size-root: 12px;
$f-size-s: 0.8rem;
$f-size-m: 1rem;
$f-size-l: 1.5rem;
$f-size-xl: 2rem;