.settings-content {
    flex: 1 1 0px;
    margin: $spacing-m 0;

    background: $c-white;
    border-radius: 2px;
    box-shadow: 2px 2px 8px $c-shadow;
    color: $c-black;

    h1 {
        margin: 0;

        font-size: $f-size-xl;
        font-weight: bold;
    }

    h2 {
        margin: 0;

        font-size: $f-size-l;
        font-weight: bold;
    }

    .setting-heading {
        padding: $spacing-m;

        background: $c-primary;
        border-radius: 2px 2px 0 0;
        color: white;
    }

    .block-content {
        padding: $spacing-m;

        .handler-description {
            margin-bottom: $spacing-m;
        }

        .setting-list-container {
            .setting-list {
                list-style-type: none;

                .setting-container {
                    margin: $spacing-m 0;

                    .setting {
                        .setting-label {
                            font-size: $f-size-l;
                            font-weight: bold;
                        }

                        .setting-info {
                            margin: $spacing-s 0;
                            border-collapse: collapse;

                            td {
                                padding: $spacing-xxs 0;
                            }

                            .setting-info-label {
                                display: block;
                                margin-right: $spacing-s;

                                color: $c-text-muted;
                                white-space: nowrap;
                            }
                        }

                        .setting-description {
                            margin: $spacing-m 0;
                        }
                    }
                }

                .setting-inputs {
                    .input {
                        display: block;
                        margin: $spacing-s 0;
                    }

                    .checkbox-input {
                        display: flex;

                        .checkbox {
                            flex: 0 0 auto;
                        }

                        .input-label {
                            flex: 1 1 0px;
                            margin-left: $spacing-xs;
                        }
                    }

                    .text-input {
                        .text {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
